.homepage {
    overflow: hidden;
    min-height: calc(100vh - 96px);
    flex-direction: row-reverse;

    .portrait {
        height: calc(100vh - 96px);
    }

    // Content
    .content {
        flex-grow: 1;
        padding: 0 16px;
        position: relative;

        h1 {
            margin-bottom: 32px;
        }

        p {
            max-width: 420px;
        }

        @include tablet {
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 100px;
        }
    }
}