.homepage {
    overflow: hidden;
    position: relative;
}

h1 {
    color: $blue;
}

// Parallax Elements
.parallax-wrap {
    .item {
        background-repeat: no-repeat;
        background-size: auto;
        height:100%;
        position: fixed;
        width:100%;
    }
}

#letterA {
    background-image: url('../../assets/icons/letter-A.svg');
    background-position: top right;
    will-change: transform;
}

#letterC {
    background-image: url('../../assets/icons/letter-C.svg');
    background-position: bottom left;
    will-change: transform;
}

// Content
.content-wrap {
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1110px;
    min-height: 100vh;
    padding: 0 40px;

    .left {
        height: 100vh;
        justify-content: space-around;
        margin-right: 32px;
        max-width: 360px;
        position: relative;
        
        .menu-item {
            margin: 46px 0;
            width: 100%;
            position: relative;

            .coming {
                color: $pink;
                position: absolute;
                text-align: center;
                transform: scaleX(0);
                transition: all 0.2s ease-in-out;
                width: 100%;
            }
            
            &.disabled:hover {
                * {
                    color: $pink;
                    cursor: default;
                }

                .coming {
                    transform: scaleX(1);
                }
            }

            .h1 {
                cursor: pointer;
                font-family: $libreBaskerville;
                font-size: 70px;
                font-weight: 400;
                transition: all 0.2s ease-in-out;
                text-decoration: none;
            }
        }
    }

    .right {
        align-items: center;
        margin-left: 32px;
        padding-top: 100px;
        position: relative;

        .right-content {
            position: relative;
        }

        .portrait {
            height: 100%;
            width: 100%;
        }

        .messages {
            align-items: flex-end;
            left: 18%;
            position: absolute;
            top: 70%;
            width: 100%;

            .message {
                background-color: $white;
                border-radius: 20px;
                border: 1px solid $borderPink;
                margin-bottom: 12px;
                padding: 8px 18px;
                position: relative;
                display: none;
                transition: all 1s ease-out;

                &.animate {
                    animation: messageAppear 1s;
                    display: block;
                }
            }

            @include desktop {
                left: 9%;
            }

            @include phone {
                left: 9%;

                .message {
                    font-size: 12px;
                    margin-bottom: 6px;
                    padding: 4px 9px;
                }
            }
        }
    }
}

@keyframes messageAppear {
    0% {
        opacity: 0;
        top: 100vh;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}