.portfolio {
    padding: 72px 0 48px;

    .title {
        color: $textDarkBlue;
        margin-bottom: 72px;
        text-align: center;
    }


    .portfolio-items {
        justify-content: center;
    }
}