.navigation {
    justify-content: space-between;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 60px;
    transform: translateX(-50%);

    .nav-item {
        cursor: pointer;
        height: 64px;
        margin: 0 16px;
        padding: 0 16px;

        a {
            text-decoration: none;
        }

        &.active {
            border-bottom: 2px solid $blue;
        }
    }
}