.blogs {
    .feature-blogs {
        grid-template:
            "a b"
            "a c";
        grid-gap: 24px;
        height: 545px;
        width: 100%;

        a:first-child {
            grid-area: a;
        }

        .blog-card {
            border-radius: 2px;
            padding: 20px 24px;
            position: relative;

            .img {
                background-size: cover;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: -1;
            }

            .card-content {
                bottom: 20px;
                display: flex;
                flex-direction: column;
                position: absolute;
            }

            h3 {
                color: $nightCookie;
            }
            
            .tag {
                background-color: $white;
            }
        }
    }

    .all-blogs {
        width: 100%;
        
        .blog-card {
            display: flex;
            height: 138px;
            margin-bottom: 40px;
            width:  calc(50% - 12px);

            img {
                height: 100%;
                margin-right: 24px;
                width: 138px;
            }

            .medium {
                height: 10px;
                left: 16px;
                position: absolute;
                top: 22px;
                width: 50px;
            }

            .card-content {
                display: flex;
                flex-direction: column;
                padding: 18px 0;
            }

            .tag {
                border: 1px solid $white;
                margin-bottom: 16px;
                transition: all 0.3s ease-in-out;
                padding: 10px 0;
            }

            &:hover {
                .tag {
                    border: 1px solid $bluePopcorn;
                    padding: 10px 16px;
                }

                h3 {
                    text-decoration: underline;
                }
            }
        }

        .more-blogs {
            color: $bluePopcorn;
            cursor: pointer;
            font-weight: 500;
            height: 54px;
            width: 100%;
        }
    }

    .tag {
        border-radius: 4px;
        color: $bluePopcorn;
        font-size: 12px;
        height: 32px;
        padding: 10px 16px;
        width: max-content;
    }
}