.contact-background {
    @include background-color-opacity($black, 0.4);
    animation-direction: reverse;
    height: 100vh;
    left: 0;
    opacity: 1;
    overflow: scroll;
    position: fixed;
    top: 0;
    transition: background-color 0.6s ease-in-out 0.3s;
    width: 100vw;
    z-index: 10;

    &.dis-n {
        background-color: transparent;
        left: 1000vw;
        transition: left 0s ease-in-out 0.3s, background-color 0.3s ease-in-out;
    }
}

.contact-modal {
    background-color: $peachBeach;
    border-right: 1px solid $borderPink;
    color: $textBlack;
    min-height: 100vh;
    padding: 64px 0;
    position: absolute;
    right: 0;
    transition: right 0.3s ease-in-out;
    width: 50%;

    &.dis-n {
        right: -50%;
    }

    .close {
        cursor: pointer;
        position: absolute;
        right: 40px;
        top: 40px;
    }

    @include tablet {
        width: 100%;

        &.dis-n {
            left: -100%;
        }
    }
}

.contact-body {
    text-align: center;
    width: 100%;

    p {
        margin: 16px 0 32px;
    }

    input, textarea {
        margin-bottom: 32px;
    }

    button {
        background-color: $blue;
        border-radius: 4px;
        border: 1px solid $blue;
        color: $textWhite;
        height: 62px;
        width: 50%;
    }
}