.header {
    background-color: $textWhite;
    border-bottom: 1px solid $borderBlue;
    height: 96px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .logo {
        color: $textDarkBlue;
        font-weight: 600;
        margin-left: 48px;
        position: relative;
        
        a {
            height: 100%;
            width: 100%;
        }
    }
    
    nav {
        border-right: 1px solid $borderBlue;
        height: 100%;
        min-width: 33%;
        position: relative;

        .nav-item {
            flex-grow: 1;
            border-left: 1px solid $borderBlue;
            color: $textDarkBlue;
            cursor: pointer;
            height: 100%;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
            z-index: 3;
        }

        .slider {
            background-color: $blue;
            display: none;
            position: absolute;
            transition: none;
            width: 0;
            z-index: 2;

            &.view {
                display: block;
                position: absolute;
                height: 100%;
                left: 0;
            }
        }
    }
}