.header {
    background-color: $pink;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.small-logo-wrap {
    background-color: $blue;
    display: block;
	height: 60px;
	width: 85px;
    z-index: 10;
    
    a {
        height: 100%;
        width: 100%;
    }

	.small-logo {
        left: 55%;
        position: relative;
        height: 20px;
        right: 8px;
        top: 65%;
        transform: translateY(-50%);
	}
}