.header {
    background-color: $textWhite;
    border-bottom: 1px solid $borderBlue;
    height: 96px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .logo {
        color: $textDarkBlue;
        font-weight: 600;
        margin-left: 48px;
        position: relative;
        
        a {
            height: 100%;
            width: 100%;
        }

        @include tablet {
            margin-left: 32px;
        }

        @include phone {
            margin-left: 16px;
        }
    }

    .menu-icon {
        display: none;
        margin-right: 24px;

        @include tablet {
            display: block;
        }
    }
    
    nav {
        height: 100%;
        width: 417px;
        position: relative;
        transition: left 0.3s ease-in-out;

        .nav-item {
            flex-grow: 1;
            border-left: 1px solid $borderBlue;
            color: $textDarkBlue;
            cursor: pointer;
            height: 100%;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
            z-index: 12;
        }

        .slider {
            background-color: $bluePopcorn;
            height: 100%;
            position: absolute;
            transition: none;
            width: 0;
            z-index: 11;

            &.view {
                left: 0;
            }
        }

        &.toggle {
            left: 0;
        }

        @include tablet {
            background-color: $white;
            flex-direction: column;
            height: calc(100vh - 96px);
            left: -100vw;
            overflow: hidden;
            position: absolute;
            top: 96px;
            width: 100vw;

            .nav-item {
                border-bottom: 1px solid $borderBlue;
            }
        }
    }
}