.about {
    padding: 98px 0;

    h2 {
        color: $textDarkBlue;
    }

    .intro {
        flex-direction: row-reverse;
        justify-content: space-around;
        margin-bottom: 130px;

        h2 {
            margin-bottom: 24px;
        }

        p {
            margin-bottom: 32px;
            max-width: 360px;
        }

        a {
            margin-right: 24px;
        }
    }

    .title {
        margin-bottom: 52px;
        text-align: center;
    }

    .values {
        margin-bottom: 100px;

        .items-wrap {
            justify-content: space-around;
            width: 100%;
        }

        .item {
            padding: 20px;
            width: 216px;
            height: 216px;
            transition: all 0.3s ease;

            .emoji {
                font-size: 33px;
            }
            
            .sub-title {
                margin: 10px 0 8px;
            }

            &:hover {
                box-shadow: 0 3px 5px 0.11px #E4E4E4 ;
            }
        }
    }

    .growth {
        margin-bottom: 38px;

        .items-wrap {
            justify-content: space-between;
            width: 100%;
        }

        .item {
            background-color: $peachBeach;
            height: 340px;
            margin-bottom: 16px;
            padding: 60px 0 28px 80px;
            width: 460px;

            .text {
                flex-grow: 1;
                margin: 24px 0 16px;
                max-width: 280px;
            }
        }
    }

    .help {
        background-color: $bluePopcorn;
        border-radius: 4px;
        color: $white;
        height: 188px;
        margin-bottom: 72px;
        width: 100%;

        h3 {
            margin-bottom: 16px;
        }
    }

    .feeds {
        height: 182px;
        justify-content: space-between;

        .feed-item {
            background-color: #F6F6F6;
            border-radius: 4px;
            height: 100%;
            padding: 38px 35px;
            width: calc(50% - 16px);
        }
    }

    .instagram {
        margin: 0 auto 104px;
        width: 70%;

        h2 {
            margin-bottom: 0;
        }
        
        a {
            color: $black;
        }

        .items-wrap {
            height: 170px;
            align-items: center;
            justify-content: space-between;
            margin-top: 44px;

            img {
                width: 170px;
            }
        }
    }

    .design {
        border: 1px solid $pink;
        border-radius: 2px;
        height: 292px;
        width: 100%;

        .items-wrap {
            justify-content: space-between;
            margin-top: 12px;
            width: 60%;
        }
    }
}