.footer {
    background-color: #172B54;
    height: 215px;
    justify-content: flex-end;

    .contact-wrap {
        align-items: flex-end;
        background-color: $textDarkBlue;
        height: 100%;
        padding-right: 5%;
        width: calc(100% - 200px);
        
        .social-media-wrap {
            justify-content: flex-end;

            .icon {
                margin: 22px 0 0 25px;
                height: 16px;
                width: 16px;
            }
        }
    }

    .email {
        color: $textWhite;
        font-size: 32px;
        text-decoration: none;

        @include phone {
            font-size: 24px;
        }
    }

    @include tablet {
        background-color: $textDarkBlue;
    }
}