.footer {
    border-top: 1px solid $borderPink;
    height: 150px;
    justify-content: space-between;

    .contact-wrap {
        box-sizing: border-box;
        flex-grow: 1;
        padding-left: 15%;
        
        .social-media-wrap {
            justify-content: space-between;
            margin-top: 16px;
            width: 443px;
        }
    }

    .email {
        color: $textBlue;
        font-weight: 600;
        font-size: 24px;
        margin-right: 80px;
        text-decoration: none;
    }
}