/////////////////////////////
/////	GLOBAL STYLING  /////
/////////////////////////////

* {
	box-sizing: border-box;
}

.background {
	height: 100%;
    margin-top: 96px;
	width: 100%;
}

.container {
	margin: 0 auto;
	max-width: 1110px;
	position: relative;
}

//FONTS
h1 {
	color: $blue;
	font-family: $avenir;
	font-size: 48px;
	font-weight: 600;
	line-height: 66px;
	margin: 0;
}

h2 {
	font-family: $avenir;
	font-size: 32px;
	font-weight: 400;
	line-height: 44px;
	margin: 0;
}

h3 {
	font-family: $avenir;
	font-size: 24px;
	font-weight: 400;
	line-height: 33px;
	margin: 0;
}

h4 {
	font-family: $avenir;
	font-size: 18px;
	line-height: 18px;
	margin: 0;
}

a {
	color: #527BCA;
	font-size: 18px;
	position: relative;
	text-decoration: none;

	&:hover,
	:visited {
		color: $darkBlue;
	}

	&.white {
		color: $white;
	}
}

p {
	font-family: $avenir;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	margin: 0;

	&.small {
		font-size: 16px;
		line-height: 24px;
	}
}

.bold {
	font-weight: 600;
}

.txt-white {
	color: $white;

	&:hover {
		color: $white;
	}
}


//FLEXBOX
.flex {
	display: flex;

	&.align-h {
		justify-content: center;
	}

	&.align-v {
		align-items: center;
	}

	&.centre {
		align-items: center;
		justify-content: center;
	}

	&.column {
		flex-direction: column;
	}

	&.wrap {
		flex-wrap: wrap;
	}
}