/////////////////////////////
/////	GLOBAL STYLING  /////
/////////////////////////////

* {
	box-sizing: border-box;
}

.background {
	height: 100%;
    padding-top: 96px;
	width: 100%;
}

.container {
	margin: 0 auto;
	max-width: 948px;
	padding: 0 16px;
	position: relative;
}

//FONTS
h1 {
	color: $bluePopcorn;
	font-family: $avenir;
	font-size: 48px;
	font-weight: 600;
	line-height: 66px;
	margin: 0;
}

h2 {
	color: $bluePopcorn;
	font-family: $avenir;
	font-size: 32px;
	font-weight: 600;
	line-height: 44px;
	margin: 0;

	&.peach {
		color: $peachBeach;
	}
}

h3 {
	font-family: $avenir;
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	margin: 0;
}

h4 {
	font-family: $avenir;
	font-size: 18px;
	line-height: 18px;
	margin: 0;
}

a {
	color: $indigoPorn;
	cursor: pointer;
	font-family: $avenir;
	font-size: 18px;
	position: relative;
	text-decoration: none;

	&:hover,
	:visited {
		color: $darkBlue;
	}

	&.white {
		color: $white;
	}
}

p {
	font-family: $avenir;
	font-size: 18px;
	font-weight: 400;
	line-height: 31px;
	margin: 0;

	&.small {
		font-size: 16px;
		line-height: 24px;
	}

	&.tiny {
		font-size: 14px;
		line-height: 18px;
	}

	&.caption {
		font-size: 12px;
		line-height: 18px;
	}
}

.tag {
	@include width-max-content();
	background-color: transparent;
	border-radius: 4px;
	color: $bluePopcorn;
	font-size: 12px;
	font-weight: 600;
	height: 32px;
	padding: 10px 16px;
	text-transform: uppercase;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: rgba($bluePopcorn, 0.1);
	}
}

// List styling
ol, ul {
	margin: 32px 0 70px;
	padding-left: 40px;

	ol, ul {
		margin-top: 24px;
	}

	li {
		&:before {
			background-color: $white;
			border: 1px solid $bluePopcorn;
		}
	}
}

ul {
	list-style: none;
	margin: 0;;

	li {
		position: relative;
		list-style-position: outside;
	}

	li:before {
		background-color: $bluePopcorn;
		border-radius: 50%;
		border: 1px solid $bluePopcorn;
		content: "";
		font-size: 32px;
		height: 8px;
		left: -16px;
		position: absolute;
		top: 9px;
		width: 8px;
	}
}

li {
	font-family: $avenir;
	line-height: 31px;
	margin-bottom: 24px;
	padding-left: 24px;
}

// Fonts
.grey {
	color: $textGrey;
}

.blue {
	color: $bluePopcorn;
}

.bold {
	font-weight: 600;
}

.txt-white {
	color: $white;

	&:hover {
		color: $white;
	}
}

.txt-c {
	text-align: center;
}

// Layout
$margins: (
  '0': 0,
  '8': 8px,
  '16': 16px,
  '24': 24px,
  '32': 32px,
  '40': 40px,
  '48': 48px,
  '56': 56px,
  '64': 64px,
  '72': 72px,
  '80': 80px,
  '100': 100px,
);

.m {
  @include modifiers($margins, 'margin', '-');
  @include modifiers($margins, 'margin-top', 't-');
  @include modifiers($margins, 'margin-bottom', 'b-');
  @include modifiers($margins, 'margin-left', 'l-');
  @include modifiers($margins, 'margin-right', 'r-');
}
.mb-8 {
	margin-bottom: 8px;
}

.w-80 {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

// Flexbox
.flex {
	display: flex;

	&.align-h {
		justify-content: center;
	}

	&.align-v {
		align-items: center;
	}

	&.centre {
		align-items: center;
		justify-content: center;
	}

	&.column {
		flex-direction: column;
	}

	&.wrap {
		flex-wrap: wrap;
	}

	&.jc-sb {
		justify-content: space-between;
	}
}

// Grid
.grid {
	display: grid;
}