// FONTS
$avenir: 'Avenir Next', sans-serif;
$libreBaskerville: 'Libre Baskerville', serif;

// COLOURS
$blue: #002D83;
$darkBlue: #101652;
$brown: #8A6F5B;
$pink: #DFCCBE;


// BORDERS
$borderPink: #DFCCBE;

// BACKGROUNDS
$background: #FAF4EF;
$white: #fff;