// SIZES
$desktop: 1025px;
$tablet: 768px;
$phone: 420px;

// FONTS
$avenir: 'Avenir Next', sans-serif;
$libreBaskerville: 'Libre Baskerville', serif;

// COLOURS
$nightCookie: #191919;
$bluePopcorn: #002D83;
$peachBeach: #FAF4EF;
$tigerMilk: #DFCCBE;
$bakedNaked: #8A6F5B;


$black: #000;
$blue: #002D83;
$brown: #8A6F5B;
$darkBlue: #101652;
$pink: #DFCCBE;

// TEXT
$textBlack: #1E1E1E;
$textBlue: #002D83;
$textDarkBlue: #213F7A;
$textWhite: #fff;


// BORDERS
$borderPink: #DFCCBE;

// BACKGROUNDS
$background: #FAF4EF;
$white: #fff;